page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.15cm rgba(0, 0, 0, 0.15);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}
page .section-title {
    font-size: 14px;
    font-weight: 700;
    background-color: #e8e8e8;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 0;
}
.webform .form-group {
    margin: 0;
}
.bordered {
    border: 2px solid #8b8c91;
}
.bordered_left {
    border-left: 2px solid #000000;
}
.form-group .form-numberer {
    display: inline-block;
    border: 2px solid #000000;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: #fff;
    margin-top: -2px;
    margin-left: -2px;
    font-size: 11px;
}
.webform .form-group .form-control,
.webform .form-group .form-control:focus {
    border: none;
    box-shadow: none;
    height: 46px;  
}
.webform .form-group label {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
.field-holder {
    width: 100%;
}
.webform .form-group .legal_name {
    background: #f1f3ff;
}
.webform .form-group .business_name {
    background: #f1f3cb;
}
.webform .table-bordered, .webform .table-bordered th {
    border-color: #000000;
    border-width: 2px;
    margin: 0;
}
.webform .table thead th {
    border-bottom: transparent;
}
.webform .table-bordered td {
    border-color: #8b8c91;
    border-width: 2px;
}
.webform .table-bordered .colored_td{
    background: #f1f3ff;
}

/*CheckBox*/
.form-check {
    padding-left: 25px;
}
.form-check label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0; top: 0;
	border: 2px solid #8b8c91;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: #f1f3ff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.form-check input[type="checkbox"]:checked+label::before {
    display: inline-block;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
}
.form-check input[type="checkbox"]:checked + label::before {
	background-color: #f1f3ff;
}
.form-check input[type="checkbox"]:checked + label::before {
   color: #000000;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }

}